{%extends 'adminpro/admin_base.html'%}
{%load static%}
{%block content%}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



  
  
  
  
            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Sale</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Sale</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Revenue</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Revenue</p>
                                <h6 class="mb-0">${{total}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Worldwide Sales</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Salse & Revenue</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="myChart1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->


           


           


            <!-- Footer Start -->
           
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="{%static 'adminpro/lib/chart/chart.min.js'%}"></script> -->
    <script src="{%static 'adminpro/lib/easing/easing.min.js'%}"></script>
    <script src="{%static 'adminpro/lib/waypoints/waypoints.min.js'%}"></script>
    <script src="{%static 'adminpro/lib/owlcarousel/owl.carousel.min.js'%}"></script>
    <script src="{%static 'adminpro/lib/tempusdominus/js/moment.min.js'%}"></script>
    <script src="{%static 'adminpro/lib/tempusdominus/js/moment-timezone.min.js'%}"></script>
    <script src="{%static 'adminpro/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js'%}"></script>

    <!-- Template Javascript -->
    <script src="{%static 'adminpro/js/main.js'%}"></script>

    <script>
  
  
        data = {
         labels: {{labels|safe}},
         datasets: [{
           label: 'Stock',
           backgroundColor: 'rgb(255, 99, 132)',
           borderColor: 'rgb(255, 99, 132)',
           data: {{data|safe}},
         }]
       };
     
       const config = {
         type: 'bar',
         data: data,
         options: {}
       };
     </script>
     <script>
       const myChart = new Chart(
         document.getElementById('myChart'),
         config
       );
     </script>
   
   
   
   
   
     <script>
     
     
       data = {
        labels: {{labels|safe}},
        datasets: [{
          label: 'Stock',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: {{data|safe}},
        }]
      };
    
      const config = {
        type: 'bar',
        data: data,
        options: {}
      };
    </script>
    <script>
      const myChart1 = new Chart(
        document.getElementById('myChart1'),
        config
      );
    </script>
</body>

</html>
{%endblock%}